/*
 * File Info
 * =========
 * Main.css - The main CSS Styling for the whole site.
 */

* {
	padding: 0;
	margin: 0;
}

body{

	padding-top: 5px;

	background-color: #6791BF;
	
	color: #FFF;
	font-family: Helvetica,Arial,sans-serif;

}

h1, h2, h3 {
	margin-bottom: 0.1em;
	text-shadow: rgba(103,145,191,0.5) 0px -1px 0px;
}

h1 {
	font-size: 36pt;
	color: #6791BF;
	font-weight: bold;
}

h2 {
	font-size: 24pt;
	color: #6791BF;
	font-weight: bold;
}

h3 {
	font-size: 18pt;
	color: #6791BF;
	font-weight: bold;
}

h4 {
	font-size: 10pt;
	color: #111;
	border-bottom: 1px solid #CCC;
}

h4 + * {
	padding-left: 20px;
}

p {
	size: 12pt;
	color: black;
	margin-left: 1em;
}

ul {
	margin-left: 60px;
}

a {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #ff00ff;
}

blockquote {
	margin-left: 20px;
	padding-left: 5px;
	border-left: 1px solid #333;
}

div#header {
	padding-left: 10px;
	padding-top: 10px;
	background-color: #6791BF;
}

div#header h1 {
	color: #fff;
	font-size: 48pt;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0px;
	letter-spacing: -5.5pt;
}

div#header h1 a {
	color: #fff;
	text-decoration: none;
}

div#header h1 a:visited {
	color: #fff;
	text-decoration: none;
}

div#header h1 a:hover {
	color: #d3dfec;
	text-decoration: none;
}

div#navigation {
	background-color: #6791BF;
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.7));
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.7));
	margin: 0;
	width: 100%;
	float: left;
	clear: both;
	height: 48px;
	vertical-align: bottom;

	text-shadow: rgba(255,255,255,0.3) 0px -1px 0px;
	font-weight: bold;

	padding-top: 5px;
}

div#userpane {
	float: right;
	color: white;
	padding-right: 10px;
}

div#userpane a {
	color: #FF00FF;
	text-decoration: none;
}

div#userpane a:visited {
	color: #FF00FF;
	text-decoration: none;
}

div#userpane a:hover {
	text-decoration: underline;
}

div#content_wrapper {
	background-color: #fff;
	color: black;
	text-align: left;
	padding: 20px;
}

/*
 * Flash Messages
 */
div#flashMessage {
	background-color: orange;
	color: white;
	margin: 5px;
	padding: 5px;
	font-size: 120%;
}

div#authMessage {
	background-color: #FFBB00;
	color: white;
	padding:5px;
	width: 100%;
	font-size: 120%;

}

/*
 * Table Styling
 */
table {
	background: #fff;
	border-right: 0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}

th {
	border: 0;
	border-bottom: 2px solid #111;
	text-align: center;
	padding: 4px;
}

th a {
	display: block;
	padding: 2px 4px;
	color: #171717;
	text-decoration: none;
}

th a:visited {
	color: #171717;
}

th a:hover {
	text-decoration: underline;
}

th a.asc {
	background-image: url('../img/icons/bullet_arrow_up.png');
	background-position: left;
	background-repeat: no-repeat;
}

th a.desc {
	background-image: url('../img/icons/bullet_arrow_down.png');
	background-position: left;
	background-repeat: no-repeat;
}

table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: middle;
	border-bottom: 1px solid #EEE;
}

table tr td a {
	color: #171717;
	text-decoration: none;
	font-weight: bold;
}

table tr td a:visited {
	color: #171717;
}

/* Fancy selector for alternating row colours. */
table tr:nth-child(2n) td {
	background: #dfe7f1;
	
}


table a.edit_action {
	float: right;
	color: #171717;
}


/*
 * [[ End Table Styling ]]
 */

/*
 * SQL Log Styling
 */
.cake-sql-log table {
	background: #F4F4F4;
}

.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}

.cake-sql-log caption {
	color: #FFF;
}

/*
 * [[END SQL Log Styling ]]
 */

/*
 * Form Styling
 */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}

fieldset legend {
	background: #fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}

fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}

fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}

fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}

form div {
	clear: both;
	margin-bottom: 1em;
	padding: 0.5em;
	vertical-align: text-top;
}

form .input {
	color: #444
}

form .required {
	font-weight: bold;
}

form .required label:after {
	color: #e32;
	content: '*';
}

form div.submit {
	border: 0;
	clear:both;
	margin-top: 10px;
}

label {
	display: block;
	font-size: 100%;
	margin-bottom: 3px;
}

input, textarea {
	clear: both;
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
	padding: 1%;
	width: 98%;
}

select {
	clear: both;
	font-size: 100%;
	vertical-align: text-bottom;
}

select[multiple=multiple] {
	width: 100%;
}

option {
	font-size: 100%;
	padding: 0 3px;
}

input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

input:focus {
	box-shadow: 0 0 5px 5px #8babce;
}

div.checkbox label {
	display: inline;
}

input[type=radio] {
	float: left;
	width: auto;
	margin: 0 3px 7px 0;
}

div.radio label {
	margin: 0 0 6px 20px;
}

input[type=submit] {
	display: inline-block;
	font-size: 140%;
	width: auto;
	outline: none;
	text-align: center;
	text-decoration: none;
	padding: 0.5em 2em;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}

form .submit input[type=submit] {
	background: #300d33;
	background: -webkit-gradient(linear, left top, left bottom, form(#300d33), to(#8a2691));
	background-image: -moz-linear-gradient(bottom, #57185b, #8a2691);
	color: white;
	text-shadow: #170618 0px 1px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

form .submit input[type=submit]:hover {
	background: #711f76;
	background: -webkit-gradient(linear, left top, left bottom, from(#4a144e), to(#711f76));
	background-image: -moz-linear-gradient(bottom, #4a144e, #711f76);
}


/*
 * Tool Tips
 */

p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #a6c9e2; -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }

/*
 * Errors
 */
div.error-message {
	background-color: #FF2400;
	padding: 10px 5px;
	width: 100%;
	color: white;
	font-weight: bold;
}

/*
 * Top Navigation Styles
 */

div#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: auto;
	vertical-align: middle;
}

div#navigation  li {
	display: inline;
	float: left;
	border: none;
	border-width: 1px 1px 0px 1px;
	margin: 0 0.5em 0 0;
	height: 48px;
	vertical-align: middle;
}

div#navigation li a {
	vertical-align: middle;
	padding: 0 1em;
	color: #FFF;
	text-decoration: none;
	height: 46px;
}

div#navigation ul li a:visited {
	color: #FFF;
	text-decoration: none;
}

div#navigation ul li a:hover {
	color: #FFF;
	text-decoration: none;
}

div#navigation ul li:hover {
	background-color: orange;
}

a.action {
	background-color: #6791BF;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 4px 4px;
	text-decoration: none;
	margin-top: 24pt;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 24pt;

	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#searchform {
	display: none;
	background: #6791BF; /* Placeholder Value */
}
