/*
 * File Info
 * =========
 * Main.css - The main CSS Styling for the whole site.
 */

* {
	padding: 0;
	margin: 0;
}

body{

	padding-top: 5px;

	background-color: purple;
	
	color: #FFF;
	font-family: Helvetica,Arial,sans-serif;

}

h1, h2, h3 {
	margin-bottom: 0.1em;
}

h1 {
	size: 2em;
	color: purple;
	font-weight: bold;
}

h2 {
	size: 1.5em;
	color: purple;
	font-weight: bold;
}

h3 {
	size: 1.25em;
	color: purple;
	font-weight: bold;
}

p {
	size: 12pt;
	color: black;
}

a {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #ff00ff;
}

blockquote {
	margin-left: 20px;
	padding-left: 5px;
	border-left: 1px solid #333;
}

div#header {
	padding-left: 10px;
	padding-top: 10px;
}

div#header > h1 {
	color: #fff;
}

div#content_wrapper {
	background-color: #fff;
	color: black;
	text-align: left;
	padding: 20px;

	overflow: auto;
}

/*
 * SQL Log Styling
 */
.cake-sql-log table {
	background: #F4F4F4;
}

.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}

.cake-sql-log caption {
	color: #FFF;
}

/*
 * [[END SQL Log Styling ]]
 */
